.logo-size {
  width: 26px; /* Set your desired width */
  height: 26px; /* Set your desired height */
}

.custom-grey{
  background-color: #cbcbcb
}


.custom-grey:hover {
  background-color: #ececec;
}
