<div class="container w-75 shadow my-3 p-5 rounded">
  <form [formGroup]="registrationForm"  (submit)="submitData()">
    <div class="mb-3">
      <label
        for="email"
        class="form-label"
      >Email address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        formControlName="email">
    </div>
    <div class="mb-3">
      <label
        for="username"
        class="form-label"
      >User name</label>
      <input
        type="text"
        class="form-control"
        id="username"
        formControlName="username">
    </div>
    <div class="mb-3">
      <label
        for="password"
        class="form-label"
      >Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        formControlName="password">
    </div>
    <div class="mb-3">
      <label
        for="confirm_password"
        class="form-label"
      >Confirm password</label>
      <input
        type="password"
        class="form-control"
        id="confirm_password"
        formControlName="confirm_password">
    </div>
    <button
      type="submit"
      class="btn btn-primary"
    >Submit</button>
  </form>
</div>
