<div class="container w-75 shadow my-3 p-5 rounded bg-light bg-opacity-50">
  <h3 class="mb-3">User Registration</h3>

  <form [formGroup]="registrationForm"  (submit)="submitData()">
    <div class="mb-3">
      <label
        for="user_email"
        class="form-label"
      >Email address</label>
      <input
        type="email"
        class="form-control"
        id="user_email"
        formControlName="user_email">
    </div>
    <div class="mb-3">
      <label
        for="user_name"
        class="form-label"
      >User name</label>
      <input
        type="text"
        class="form-control"
        id="user_name"
        formControlName="user_name">
    </div>
    <div class="mb-3">
      <label
        for="user_password"
        class="form-label"
      >Password</label>
      <input
        type="password"
        class="form-control"
        id="user_password"
        formControlName="user_password">
    </div>
    <div class="mb-3">
      <label
        for="confirm_user_password"
        class="form-label"
      >Confirm password</label>
      <input
        type="password"
        class="form-control"
        id="confirm_user_password"
        formControlName="confirm_user_password">
    </div>
    <button
      type="submit"
      class="btn btn-primary"
    >Submit</button>
  </form>
</div>
