<div class="container w-75 shadow my-3 p-5 rounded" *ngIf="initData">
  <form [formGroup]="deviceForm" (submit)="submitData()">
    <div class="mb-3">
      <label
        for="deviceName"
        class="form-label"
      >Device name:</label>
      <input
        type="text"
        class="form-control"
        id="deviceName"
        formControlName="deviceName">
    </div>
    <div class="mb-3">
      <label
        for="imeiId"
        class="form-label"
      >IMEI number:</label>
      <input
        type="text"
        class="form-control"
        id="imeiId"
        formControlName="imeiNumber">
    </div>

    <div class="mb-3">
      <label
        for="deviceType"
        class="form-label"
      >Device type:</label>
      <select
        formControlName="deviceType"
        class="form-control"
        id="deviceType"
      >
        <option *ngFor="let deviceType of initData.deviceTypeList"
                value="{{deviceType.name}}">{{deviceType.displayName}}</option>
      </select>
    </div>

    <div formArrayName="usageTypeList" *ngFor="let usageType of initData.usageTypeList; let i = index">
      <label>
        <input type="checkbox" [formControlName]="i">
        {{ usageType.displayName }}
      </label>
    </div>

    <button
      type="submit"
      class="btn btn-primary"
    >Submit
    </button>
  </form>
</div>
