<h1>Tracked devices of {{loggedInUser.userName}}</h1>
<table class="table table-striped">
  <thead>
  <tr>
    <th>
      Name
    </th>
    <th>
      Type
    </th>
    <th>
      Usage
    </th>
  </tr>
  </thead>
  <tbody *ngFor="let item of devicesList, let i=index">
  <tr>
    <td>
      {{item.deviceName}}
    </td>
    <td>
      {{item.deviceType}}
    </td>
    <td>
      <ng-container *ngFor="let usage of item.usageTypeList">
      {{usage}} <br>
      </ng-container>
    </td>
    <td>
      <button *ngIf="!item.isTracked" (click)="toggleTracking(i)">Start tracking</button>
      <button *ngIf="item.isTracked" (click)="toggleTracking(i)">Stop tracking</button>
      <button>Edit</button>
      <button>Delete</button>
    </td>
    <td>
    </td>
  </tr>


  </tbody>
</table>
